[Global]
auth-url = OS_AUTH_URL
username = OS_USERNAME
password = OS_PASSWORD
tenant-name = OS_PROJECT_NAME
domain-name = OS_DEFAULT_DOMAIN
region = OS_REGION_NAME
[LoadBalancer]
subnet-id = FLOATING IP SUBNET
